
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body{
 background-color: #0f0f0f;

  background-repeat: no-repeat;
  background-size: 100%;
  color: #ffffff;
  font-family: 'Work Sans', sans-serif;

}
.moldura{ 
  display: flex;
  flex-direction: row;
  width: 65em;
  height: 27em;
  
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.esquerda{
 
  width: 55%;
  color: aliceblue;
 padding: 5%;

 justify-content: center;
  
}
.esquerda .logo{
  width: 200px;
margin-top: -30px;
margin-bottom: 20px;
  
}
.login{
 background-color: #181818;
  width: 45%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  justify-content: center;
}

input {
  border-radius: 5px;
  border: 1px solid rgb(165, 142, 12);
  padding: 0.8em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #f7f7f7;
  cursor: pointer;
  transition: border-color 0.25s;
}
.email{
  background-image: url("https://i.imgur.com/eKw2dvH.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 1.3em;
  background-position-x: 10px;
  padding-left: 45px;

}
.senha{
  background-image: url("https://img.icons8.com/ios-filled/50/000000/lock.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 1.3em;
  background-position-x: 10px;
  padding-left: 45px;
}

.button{
  font-size: 1.3em;
  color:#030303;
  background-color: #E6CA52;
  background-image: none;
  
}

.button:hover {
  border-color:#614b0e;
  background-color: #c9b148;
}
aside a{
  color: #b99e23;
}

a:hover {
  color: #fff6a7;
}

@media (max-width: 768px){
  .moldura{
    flex-direction: column;
    width: 22em;
    height: 40em;
    
  }
  .esquerda{
    width: 100%;
    border-radius: 50px 50px 0px 0px;
    padding: 0%;
    padding-top: 10px;
    padding-bottom: 25px;
    background-color: #6787df;
    background-image: none;

  }
  .login{
    width: 90%;
  }
  h1 {
    font-size: 2em;
  }
  h2{
    font-size: 1em;
  }
}